.sNav { 
    font-size:1.45rem; 

    ul { 
        margin: 5px -15px 0; 
    }

 ul li 
 { margin-top:13px;
     padding:12px 0 12px 14%; 
    }
ul li:hover 
{
     background-color:#333; cursor:pointer; color:white; 
}
 i, span
  {
       margin-right:10px;
    }


}


.yellowBoxNav {
    position:$main-position;
    display:inline-block;
    margin-right:30px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color:#f3d83f;
    top: 50%;
    transform: translateY(-50%);
    width: 55px;
    height: 45px;
    color:white;
    z-index: 25;

    span { 
        position:$main-position; 
        top: 8px; 
        font-size:3rem; }
}

.navIndicator { 
        position:$main-position; 
        height:8px;
     background-color:#f3d83f;
      width:210px;
     }

 .lowerPanelNav { font-size:1.8rem;
        margin:0;
        li { margin-right:60px; cursor:pointer; }
        li:last-child { margin-right:0; }
   
    } 

